* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: grid;
    background-color: rgba(0, 0, 0, 0.07);
}

.container-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 50px 100px;
    grid-template-areas: 
    "instructions  logo   about"
    "slogan  slogan   slogan"
    "cate     cate    cate";
}

.instructions {
    grid-area: instructions;
    place-self: center;
    font-size: 24px;
    text-decoration: none;
    color: #6ebf4b;
}

.instructions > * {
    color: #6ebf4b;
    text-decoration: none;
    font-weight: 700;
}

.logo, img {
    grid-area: logo;
    place-self: center;
    height: 225px;
    width: 225px;
}

.about {
    grid-area: about;
    place-self: center;
    font-size: 24px;
    color: #6ebf4b;
    text-decoration: none;
}

.about > * {
    color: #6ebf4b;
    text-decoration: none;
    font-weight: 700;
}

.slogan {
    grid-area: slogan;
    text-align: center;
    line-height: 10px;
    color: white;
    background: #6ebf4b;
    background-size: cover;
}

.cate {
    grid-area: cate;
    display: flex;
    justify-content: center;
    color: white;
    background-color: darkgreen;
}

.cate ul {
    list-style: none;
    margin: 0;
    padding: -1;
}

ul li {
    margin: 10px;
}

.cate a {
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #6ebf4b;
    font-weight: 600;
    padding-bottom: 10px;
}

.container-gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}